<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Parent</title>
</head>
<body>
<h1>Create Parent</h1>
<form th:action="@{/admin/parents/create}" th:object="${parent}" method="post">
    <label>First Name:</label>
    <input type="text" th:field="*{firstName}" /><br/>
    <label>Last Name:</label>
    <input type="text" th:field="*{lastName}" /><br/>
    <label>Email:</label>
    <input type="text" th:field="*{email}" /><br/>
    <label>Date of Birth:</label>
    <input type="date" th:field="*{dateOfBirth}" /><br/>
    <button type="submit">Save</button>
</form>
<a href="/admin/parents">Back to List</a>
</body>
</html>
