<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lessons</title>
</head>
<body>
<h1>Lessons</h1>
<a href="/admin/lessons/create">Create New Lesson</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Subject</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="lesson : ${lessons}">
        <td th:text="${lesson.id}"></td>
        <td th:text="${lesson.name}"></td>
        <td th:text="${lesson.subject.name}"></td>
        <td th:text="${lesson.startTime}"></td>
        <td th:text="${lesson.endTime}"></td>
        <td>
            <a th:href="@{/admin/lessons/edit/{id}(id=${lesson.id})}">Edit</a>
            <a th:href="@{/admin/lessons/delete/{id}(id=${lesson.id})}" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
