<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Timetable List</title>
</head>
<body>
<h2>Timetable List</h2>
<table>
    <thead>
    <tr>
        <th>Time Slot</th>
        <th>Day</th>
        <th>Subject</th>
        <th>Teacher</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="timetable : ${timetables}">
        <td th:text="${timetable.timeSlot.timeSlot  }"></td>
        <td th:text="${timetable.day}"></td>
        <td th:text="${timetable.subject.name}"></td>
        <td th:text="${timetable.teacher.firstName + ' ' + timetable.teacher.lastName}"></td>
        <td>
            <a th:href="@{/admin/timetable/edit/{id}(id=${timetable.id})}">Edit</a> |
            <a th:href="@{/admin/timetable/delete/{id}(id=${timetable.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
