<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>School Portal</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById('logout-link').addEventListener('click', (e) => {
                e.preventDefault();
                document.getElementById('logout-form').submit();
            });
        });
    </script>
</head>
<body>
<header>
    <h1>School Portal</h1>
    <nav>
        <a href="/default">Home</a>
        <li>
            <a href="/user/change-password">Đổi mật khẩu</a>
        </li>
        <a href="#" id="logout-link">Logout</a>
    </nav>
</header>
<div class="container">
    <aside>
        <!-- Sidebar sẽ được chèn vào đây -->
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    </aside>
    <main>
        <!-- Nội dung trang sẽ được chèn vào đây -->
        <div th:fragment="content"></div>
        <form id="logout-form" action="/logout" method="POST" style="display: none;">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        </form>
    </main>
</div>
<footer>
    <p>&copy; 2024 School Portal</p>
</footer>
</body>
</html>
